# in the meantime we migrate to pyproject.toml
# this represent the minimum requirement to build (for the optional speedup)
mypy==0.990; python_version >= "3.7"
mypy==0.971; python_version < "3.7"
build==0.9.0
wheel==0.38.4; python_version >= "3.7"
wheel==0.37.1; python_version < "3.7"
