flake8==5.0.4
chardet==5.1.0
isort==5.11.4
codecov==2.1.13
pytest-cov==4.1.0
build==0.10.0
wheel==0.41.2

black==23.3.0
mypy==1.6.1; python_version >= '3.8'
mypy==1.4.1; python_version < '3.8'
Flask==2.2.3
pytest==7.4.2
requests==2.31.0
