pytest
pytest-cov
codecov
chardet==4.0.*
Flask>=2.0,<3.0; python_version >= '3.6'
requests>=2.26,<3.0; python_version >= '3.6'
black==21.9b0; python_version >= '3.6'
flake8==4.0.0; python_version >= '3.6'
mypy==0.910; python_version >= '3.6'
isort; python_version >= '3.6'
