include LICENSE README.md CHANGELOG.md src/charset_normalizer/py.typed dev-requirements.txt SECURITY.md noxfile.py _mypyc_hook/*.py
recursive-include data *.md
recursive-include data *.txt
recursive-include docs *
recursive-include tests *
recursive-exclude .github/ *
recursive-exclude __pycache__/ *
global-exclude *.pyc
