include LICENSE README.md CHANGELOG.md src/charset_normalizer/py.typed dev-requirements.txt SECURITY.md
recursive-include data *.md
recursive-include data *.txt
recursive-include docs *
recursive-include tests *
